pipeline/EscenarioControlFlujo.json
{
	"name": "EscenarioControlFlujo",
	"properties": {
		"description": "Ejemplo con actividades de tipo lookup y bucles",
		"activities": [
			{
				"name": "LookupEnSQLAzure",
				"description": "Extrae la lista con el nombre de las tablas del usuario configurado en el linked service",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'"
					},
					"dataset": {
						"referenceName": "AzureSqlTestGen",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTabla",
				"description": "Bucle que procesa actividades por cada tabla listada por la actividad de lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterQuitaTest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterQuitaTest').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LookupRegistro",
							"description": "Saca la primera fila de cada tabla pasada por el foreach ",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME}",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureSqlTestGen",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CopyDataCSV",
							"description": "Copia la salida de los resultados de leer cada tabla de SQL Azure al correspondiente fichero CSV en Azure Blob Storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select top(100) * from @{item().TABLE_NAME} ",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTestGen",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "FicherosTablasSQLAzure",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "FilterQuitaTest",
				"description": "Elimina las tablas que empiezan por \"test\"",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupEnSQLAzure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupEnSQLAzure').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().TABLE_NAME,'test'))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}