pipeline/escenarioSimple.json
{
	"name": "escenarioSimple",
	"properties": {
		"description": "Una pipeline básica con movimiento de datos y control de errores",
		"activities": [
			{
				"name": "CopiaDesdePostgres_a_CSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "col1",
									"type": "Int32"
								},
								"sink": {
									"path": "$['col1']"
								}
							},
							{
								"source": {
									"name": "col2",
									"type": "String"
								},
								"sink": {
									"path": "$['col2']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DataSetPostgreSqlTablaPruebaADF",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataSetJsonEjemplo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "EnviaErrorCod",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopiaDesdePostgres_a_CSV",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-121.westeurope.logic.azure.com:443/workflows/8b7aa1d884194896b1b6d528ee00bfc0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=u6FkvnKklvyXHTEbodKeBGDOue2m8CCcCpPguo-Nkro",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "  -- @{activity('CopiaDesdePostgres_a_CSV').Error} ",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			},
			{
				"name": "EnviaCodCopy",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopiaDesdePostgres_a_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-121.westeurope.logic.azure.com:443/workflows/8b7aa1d884194896b1b6d528ee00bfc0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=u6FkvnKklvyXHTEbodKeBGDOue2m8CCcCpPguo-Nkro",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"ErrorMessage": "  -- Copia OK--  ",
						"EmailTo": "@pipeline().parameters.EmailTo"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "alaloumet@encamina.com"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}