pipeline/homere_copy_one_table_to_landing_SQL1.json
{
	"name": "homere_copy_one_table_to_landing_SQL1",
	"properties": {
		"activities": [
			{
				"name": "homere_copy_mysql_to_landing",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "truncate table @{concat('[',pipeline().parameters.domain,'].[',pipeline().parameters.table,']')}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "HomereOdbcGen3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HomereAzureSqlTableGen1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Homere_Add_Event_Failure_copy_mysql_to_landing",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "homere_copy_mysql_to_landing",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[msflogs].[add_adf_event]",
					"storedProcedureParameters": {
						"event_activity": {
							"value": "homere_copy_mysql_to_landing",
							"type": "String"
						},
						"event_dataflow": {
							"value": "NA",
							"type": "String"
						},
						"event_details": {
							"value": "NA",
							"type": "String"
						},
						"event_domain": {
							"value": {
								"value": "@pipeline().parameters.domain",
								"type": "Expression"
							},
							"type": "String"
						},
						"event_errorcode": {
							"value": {
								"value": "@activity('homere_copy_mysql_to_landing').Error.ErrorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"event_iserror": {
							"value": "True",
							"type": "Boolean"
						},
						"event_message": {
							"value": {
								"value": "@activity('homere_copy_mysql_to_landing').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"event_object": {
							"value": "NA",
							"type": "String"
						},
						"event_pipeline": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"event_timestamp": {
							"value": {
								"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseTest",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string",
				"defaultValue": "staff"
			},
			"fs": {
				"type": "string",
				"defaultValue": "landing"
			},
			"domain": {
				"type": "string",
				"defaultValue": "homere"
			}
		},
		"folder": {
			"name": "LoDeMSF"
		},
		"annotations": []
	}
}