pipeline/pipelineCogerValorPersistidoVariable.json
{
	"name": "pipelineCogerValorPersistidoVariable",
	"properties": {
		"activities": [
			{
				"name": "AsiganamosValorPersistidoEnVariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CogemosValorPersistido",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "a",
					"value": {
						"value": "'@activity('Lookup1').output'",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CogemosValorPersistido",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"dataset": {
						"referenceName": "SqlServerTablePersistVar",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "EvaluamosValorVariable",
				"description": "Si el Valor de la variable es 'A' , la cambiamos a 'X'",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AsiganamosValorPersistidoEnVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('a'),'A')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "a",
								"value": {
									"value": "X",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "CambiamosValorX",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "a",
								"value": {
									"value": "'B'",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CambiamosValorX",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "update dbo.persistVar set vari = @{variables('a').value}",
										"type": "Expression"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataSetSqlServerTablaVuelosMeteo",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DataSetSqlServerTablaVuelosMeteo",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"a": {
				"type": "String",
				"defaultValue": "Z"
			}
		},
		"annotations": []
	}
}