pipeline/pruStoredProc.json
{
	"name": "pruStoredProc",
	"properties": {
		"description": "inserta el valor de un parámetro en una tabla de SQL a través de un sp",
		"activities": [
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[milog]",
					"storedProcedureParameters": {
						"event_timestamp": {
							"value": {
								"value": "@variables('fecha')",
								"type": "Expression"
							},
							"type": "String"
						},
						"message": {
							"value": {
								"value": "@pipeline().parameters.mensa",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseTest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fecha",
					"value": {
						"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"mensa": {
				"type": "string",
				"defaultValue": "nasti"
			}
		},
		"variables": {
			"fecha": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ejemplos"
		},
		"annotations": []
	}
}