templates/homere_copy_one_table_to_landing/homere_copy_one_table_to_landing.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"msfint_bcn_hrbi_dev": {
			"type": "string"
		},
		"HomereOdbc": {
			"type": "string"
		},
		"msfintbcn_bi_ADLS": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/homere_copy_one_table_to_landing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "homere_copy_mysql_to_landing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HomereOdbcGen",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "homere_landing_csv",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Homere_Add_Event_Failure_copy_mysql_to_landing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "homere_copy_mysql_to_landing",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[msflogs].[add_adf_event]",
							"storedProcedureParameters": {
								"event_activity": {
									"value": "homere_copy_mysql_to_landing",
									"type": "String"
								},
								"event_dataflow": {
									"value": "NA",
									"type": "String"
								},
								"event_details": {
									"value": "NA",
									"type": "String"
								},
								"event_domain": {
									"value": {
										"value": "@pipeline().parameters.domain",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_errorcode": {
									"value": {
										"value": "@activity('homere_copy_mysql_to_landing').Error.ErrorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_iserror": {
									"value": "True",
									"type": "Boolean"
								},
								"event_message": {
									"value": {
										"value": "@activity('homere_copy_mysql_to_landing').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_object": {
									"value": "NA",
									"type": "String"
								},
								"event_pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_timestamp": {
									"value": {
										"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"table": {
						"type": "string",
						"defaultValue": "fonction"
					},
					"fs": {
						"type": "string",
						"defaultValue": "landing"
					},
					"domain": {
						"type": "string",
						"defaultValue": "homere"
					}
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HomereOdbcGen')]",
				"[concat(variables('factoryId'), '/datasets/homere_landing_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HomereOdbcGen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('HomereOdbc')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/homere_landing_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('msfintbcn_bi_ADLS')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(pipeline().parameters.table,'_landing_',utcnow('yyyy-MM-dd_HH:mm:ss'),'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('/',pipeline().parameters.domain,'/',pipeline().parameters.table)",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@pipeline().parameters.fs",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}