ADF-Lalo/PartialArmTemplates/ArmTemplate_11_6_2019_13_38_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-Lalo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipelineCogerValorPersistidoVariable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AsiganamosValorPersistidoEnVariable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CogemosValorPersistido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "a",
							"value": {
								"value": "'@activity('Lookup1').output'",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CogemosValorPersistido",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"dataset": {
								"referenceName": "SqlServerTablePersistVar",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "EvaluamosValorVariable",
						"description": "Si el Valor de la variable es 'A' , la cambiamos a 'X'",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "AsiganamosValorPersistidoEnVariable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('a'),'A')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set variable3",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "a",
										"value": {
											"value": "X",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "CambiamosValorX",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "a",
										"value": {
											"value": "'B'",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"a": {
						"type": "String",
						"defaultValue": "Z"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}