templates/homere_copy_tables_to_landing_SQL/homere_copy_tables_to_landing_SQL.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"msfint_bcn_hrbi_dev": {
			"type": "string"
		},
		"HomereOdbc": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/homere_copy_tables_to_landing_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Homere_Lookup_Tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT [table_name] FROM [msfcatalog].[adf_batch_tables] WHERE [domain] = '@{variables('domain')}' AND [active] = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "msfint_bcn_hrbi_dev_AzureSql",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Homere_ForEach_Table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Homere_Lookup_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Homere_Lookup_Tables').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Homere_Execute_Pipeline_copy_tables_to_landing_SQL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "homere_copy_one_table_to_landing_SQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"table": {
												"value": "@item().table_name",
												"type": "Expression"
											},
											"fs": "landing",
											"domain": "homere"
										}
									}
								},
								{
									"name": "Homere_Add_Event_Failure_Execute_Pipeline",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Homere_Execute_Pipeline_copy_tables_to_landing_SQL",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[msflogs].[add_adf_event]",
										"storedProcedureParameters": {
											"event_activity": {
												"value": "Homere_Execute_Pipeline_copy_tables_to_landing",
												"type": "String"
											},
											"event_dataflow": {
												"value": "NA",
												"type": "String"
											},
											"event_details": {
												"value": "NA",
												"type": "String"
											},
											"event_domain": {
												"value": {
													"value": "@variables('domain')",
													"type": "Expression"
												},
												"type": "String"
											},
											"event_errorcode": {
												"value": {
													"value": "@activity('Homere_Execute_Pipeline_copy_tables_to_landing_SQL').Error.ErrorCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"event_iserror": {
												"value": "True",
												"type": "Boolean"
											},
											"event_message": {
												"value": {
													"value": "@activity('Homere_Execute_Pipeline_copy_tables_to_landing_SQL').Error.Message",
													"type": "Expression"
												},
												"type": "String"
											},
											"event_object": {
												"value": {
													"value": "@item().table_name",
													"type": "Expression"
												},
												"type": "String"
											},
											"event_pipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"event_timestamp": {
												"value": {
													"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Homere_Add_Event_OK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Homere_ForEach_Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[msflogs].[add_adf_event]",
							"storedProcedureParameters": {
								"event_activity": {
									"value": "NA",
									"type": "String"
								},
								"event_dataflow": {
									"value": "NA",
									"type": "String"
								},
								"event_details": {
									"value": {
										"value": "NA",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_domain": {
									"value": {
										"value": "@variables('domain')",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_errorcode": {
									"value": "0",
									"type": "String"
								},
								"event_iserror": {
									"value": "False",
									"type": "Boolean"
								},
								"event_message": {
									"value": {
										"value": "@concat('Pipeline ', pipeline().Pipeline, ' execution finished')",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_object": {
									"value": "NA",
									"type": "String"
								},
								"event_pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_timestamp": {
									"value": {
										"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Homere_Add_Event_Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Homere_Lookup_Tables",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[msflogs].[add_adf_event]",
							"storedProcedureParameters": {
								"event_activity": {
									"value": "NA",
									"type": "String"
								},
								"event_dataflow": {
									"value": "NA",
									"type": "String"
								},
								"event_details": {
									"value": "NA",
									"type": "String"
								},
								"event_domain": {
									"value": {
										"value": "@variables('domain')",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_errorcode": {
									"value": {
										"value": "@activity('Homere_Lookup_Tables').Error.ErrorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_iserror": {
									"value": "True",
									"type": "Boolean"
								},
								"event_message": {
									"value": "prueba de mensaje de error",
									"type": "String"
								},
								"event_object": {
									"value": "NA",
									"type": "String"
								},
								"event_pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_timestamp": {
									"value": {
										"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Homere_Add_Event_Failure_ForEach",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Homere_ForEach_Table",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[msflogs].[add_adf_event]",
							"storedProcedureParameters": {
								"event_activity": {
									"value": "Homere_ForEach_Table",
									"type": "String"
								},
								"event_dataflow": {
									"value": "NA",
									"type": "String"
								},
								"event_details": {
									"value": "NA",
									"type": "String"
								},
								"event_domain": {
									"value": {
										"value": "@variables('domain')",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_errorcode": {
									"value": {
										"value": "@activity('Homere_ForEach_Table').Error.ErrorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_iserror": {
									"value": "True",
									"type": "Boolean"
								},
								"event_message": {
									"value": {
										"value": "@activity('Homere_ForEach_Table').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_object": {
									"value": "NA",
									"type": "String"
								},
								"event_pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_timestamp": {
									"value": {
										"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"fs": {
						"type": "String",
						"defaultValue": "landing"
					},
					"domain": {
						"type": "String",
						"defaultValue": "homere"
					},
					"result": {
						"type": "String",
						"defaultValue": "NA"
					}
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/msfint_bcn_hrbi_dev_AzureSql')]",
				"[concat(variables('factoryId'), '/pipelines/homere_copy_one_table_to_landing_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/msfint_bcn_hrbi_dev_AzureSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "General connection. Table name must be specified during execution",
				"linkedServiceName": {
					"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Common"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/homere_copy_one_table_to_landing_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "homere_copy_mysql_to_landing",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OdbcSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "truncate table @{concat('[',pipeline().parameters.domain,'].[',pipeline().parameters.table,']')}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HomereOdbcGen",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "HomereAzureSqlTableGen",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Homere_Add_Event_Failure_copy_mysql_to_landing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "homere_copy_mysql_to_landing",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[msflogs].[add_adf_event]",
							"storedProcedureParameters": {
								"event_activity": {
									"value": "homere_copy_mysql_to_landing",
									"type": "String"
								},
								"event_dataflow": {
									"value": "NA",
									"type": "String"
								},
								"event_details": {
									"value": "NA",
									"type": "String"
								},
								"event_domain": {
									"value": {
										"value": "@pipeline().parameters.domain",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_errorcode": {
									"value": {
										"value": "@activity('homere_copy_mysql_to_landing').Error.ErrorCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_iserror": {
									"value": "True",
									"type": "Boolean"
								},
								"event_message": {
									"value": {
										"value": "@activity('homere_copy_mysql_to_landing').Error.Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_object": {
									"value": "NA",
									"type": "String"
								},
								"event_pipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"event_timestamp": {
									"value": {
										"value": "@utcNow('yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"table": {
						"type": "string",
						"defaultValue": "staff"
					},
					"fs": {
						"type": "string",
						"defaultValue": "landing"
					},
					"domain": {
						"type": "string",
						"defaultValue": "homere"
					}
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HomereOdbcGen')]",
				"[concat(variables('factoryId'), '/datasets/HomereAzureSqlTableGen')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HomereOdbcGen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('HomereOdbc')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": [],
				"type": "OdbcTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HomereAzureSqlTableGen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('msfint_bcn_hrbi_dev')]",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Homere"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "homere",
					"table": {
						"value": "@pipeline().parameters.table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}